::-webkit-scrollbar {
	width: 20px;
  }

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #7b8381;
}

.heroAnimation{

}

.acomplishmentsSection{
    margin-bottom: 100px !important;
}

@media screen and (max-width: 900px) {
    .heroAnimation{
        /* display:none !important; */
    }

    .container{
        margin-left:0px !important;
        margin-top:0px !important;
        margin-bottom: 40px !important;
    }

    .flux{
        font-size:100px !important;
    }

    .neon{
        font-size:100px !important;
        margin-bottom: 50px;
    }

    #hello{
        display: flex !important;
        padding-top: 140px !important;
    }

    .headerLink{
        margin-right: 20px !important;

    }

    .acomplishmentsSection{
        margin-bottom: 16px !important;
    }
}

.active{
    color:white !important;
    font-weight: bold !important;
}
